<!DOCTYPE html>
<html lang="pt-BR"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/imagem/favicon-32x32.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Cadastre-se</title>
</head>
<body>
<nav class="FixoNoTopo">
    <img th:src="@{/imagem/logo01.png}" alt="Logo" class="logo">
    <ul class="menu">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/cursos}">Cursos</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/cadastrar}">Cadastre-se</a></li>
        <li><a th:href="@{/}">Sobre</a></li>
        <li><a th:href="@{/cadastro-cursos}">Cadastre seu Curso</a></li>
    </ul>
    <main>
        <div class="SearchBox active">
            <input type="text" class="SearchBox-input" placeholder="Procure seu curso">
            <button class="SearchBox-button">
                <i class="SearchBox-icon  material-icons">search</i>
            </button>
        </div>
    </main>
</nav>
    <br>
    <div class="container">
     <br>
     <br>
    <form class="login" th:action="@{/save}" method="post">
        <h2>Cadastro</h2>
        <div class="box-user">
            <input type="text" name="nome" id="nome" required>
            <label>Nome</label>
        </div>
        <div class="box-user">
            <input type="text" name="sobrenome" id="sobrenome" required>
            <label>Sobrenome</label>
        </div>
        <div class="box-user">
            <input type="text" name="login" id="login" required>
            <label>Nome de Usuário</label>
        </div>
        <div class="box-user">
            <input type="text" name="email" id="email" required>
            <label>E-mail</label>
        </div>
        <div class="box-user">
            <input type="password" name="senha" id="senha" required>
            <label>Senha</label>
        </div>
        <div>
            <a th:href="@{/login}" class="forget"> Já tem conta?</a>
        </div>
        <button th:href="@{/}" type="submit" class="btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Cadastrar
        </button>>
    </form>
    </div>
</body>
</html>